* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../../ASG2/images/bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

/*---------------Searchbar-------------*/

.search-bar {
  width: 100%;
  max-height: 60px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0.01 5px;
  backdrop-filter: blur(4px) saturate(180%);  
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  color: #fff;
  font-size: 20px;
}
::placeholder {
  color: #8b8a94;
}
.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
  cursor: pointer;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: rgb(231, 230, 235);
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0899b3;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.nav-links ul li:hover .subMenu {
  display: block;
  position: absolute;
  background: transparent;
  margin-top: 15px;
  margin-left: -15px;
}
.nav-links a.active {
  border-bottom: 3px solid rgb(13, 139, 174);
}

.text-box {
  width: 60%;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h6 {
  font-size: 20px;
  color: rgb(10, 10, 10);
  font-family: ui-monospace;
  /*-webkit-text-stroke:1px #fff;*/
  color: transparent;
  background-image: linear-gradient(#92ceea, #92ceea);
  background-repeat: no-repeat;
  -webkit-background-clip:text;
  background-position: -1000px 0;
  animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
.text-box h1 {
  margin: 10px 10 40px;
  font-size: 80px;
  color: #f1f9fc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-btn {
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #03023d;
  background: #03023d;
  transition: 1s;
}
 nav .fa{
  display: none;
}

@media (max-width: 700px) {
  .text-box h1{
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #1f1c5e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul{
    padding: 30px;
  }
}
hr {
  color: #03023d;
  height: 2px;
  border-width: 0;
  background-color: #03023d;
}

/*---------------------------Events--------------------------------*/
.events {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  color: #4eb8e6;
}
p {
  color: #0c0b51;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row h3 {
  color: #03023d;
}
.events-col {
  flex-basis: 31%;
  background: #9febe4;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.events-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media (max-width:700px){
  .row{
    flex-direction: column;
  }
}

/*---------------------------Services-----------------------------------*/
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.services-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.services-col img {
  width: 100%;
  height: 90%;
  display: block;
}
.layer {
  background: transparent;
  height: 90%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(104, 159, 243, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*---------------------------------New Books-------------------------*/
.newBooks {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.newBooks-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.newBooks-col img {
  width: 50%;
  border-radius: 10px;
  align-items: center;
}
.newBooks-col p {
  padding: 0;
  width: 60%;
  text-align: justify;
  color: #2b2b4b;
}
.newBooks-col h3 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.newBooks h3 a {
  color: #03023d;
  text-decoration: none;
}

/*----------------------------testimonials------------------------*/
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #9febe4;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testimonial-col .fa {
  color: #03023d;
}
@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*------------------------call to action------------------------------*/
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient();
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../ASG2/images/img1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/*-----------------------------footer------------------------------------*/
.footer {
  background: rgb(210, 246, 248);
}
.footer a{
  color: #03023d;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  color: #03023d;
  font-weight: 600;
}
.icons .fa {
  color: #169ddb;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o {
  color: #169ddb;
}

.footer-col1 {
  width: 100%;
  padding: 30px 0;
  text-indent: 30;
  text-align: left;
  padding-left: 50px;
}
.footer-col2 {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer-col3 {
  width: 100%;
  padding: 30px 0;
  text-indent: 30;
  text-align: right;
  padding-right: 50px;
  color: #03023d;
}
.footer-col3 h4 {
  padding-right: 50px;
}

/*---------------LogIn and Register-----------*/
.account button {
  width: 100px;
  margin: 10px auto;
  position: right;
  box-shadow: 0 0 5px 2px #92ceea;
  border-radius: 30px;
  color: #92ceea;
}
.account button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.loginregister {
  width: 360px;
  height: 550px;
  background: rgb(110, 111, 103);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginregister h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginregister p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginregister input {
  width: 100%;
  margin-bottom: 20px;
}
.loginregister input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginregister input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #03023d;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginregister input[type="submit"]:hover {
  cursor: pointer;
  background: #0899b3;
  color: #2b2b4b;
}
.loginregister a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.loginregister a:hover {
  color: #03023d;
}
.loginregister input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

/*-------------------------sub pages-----------------------------------*/

.header1 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(7, 7, 66, 0.7), rgba(23, 25, 33, 0.7)),
    url("../../ASG2/images/bg2.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.about {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 90%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}
.blue-btn {
  border: 1px solid#03023d;
  background: transparent;
  color: #03023d;
}

.blue-btn:hover {
  color: #fff;
}
